.corpo-produto{
    min-height: calc(85vh);
    display: flex;
    justify-content: space-evenly;
    
    .imagem-section{
        display:flex;
        flex-direction: column;
        justify-content: center;
        .imagem-produto{
            width: 50vw;
            height: 50vh;
            object-fit: contain;
            padding: 40px;
        }
    }
    .descricao-section{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        .div-botoes{
            #botoes-produto{
                margin: 10px;
                padding: 0;
            }
        }
    }

}

@media(max-width:780px){
    .corpo-produto{
        flex-direction: column;
        .imagem-section{
            flex-direction: row;
            .imagem-produto{
                width: 100%;
            } 
        }
    }
}