section{
    
    .titulo-cards{
        margin-top: 120px;
        text-align: center;
    }

    #sessao-produtos{
        display: flex;
        justify-content: center;

        #menu-categorias{
            position: sticky;
            top: 0;
            bottom: 50px;
            display:flex;
            flex-direction: column;
            background-color: white;
            align-items: center;
            margin-left: 30px;
        
        }
        
        #corpo-produtos{
            display:flex;
            flex-wrap: wrap;
            justify-content: right;
            .card{
                height: 550px;
                background-color: white;
                border-radius: 10px;
                margin-top: 10px;
                margin-right: 10px;
                margin-bottom: 10px;
                
                    .img-card{
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        width: 200px;
                        height: 200px;
                        object-fit: contain;
                        
                        
                    }

                    .card-buttoms{
                        width: 100%;                        

                        #botao-card{                            
                            margin-bottom: 10px;
                        }
                    }
                    
            }
        }
    }
}
