section{
    
    .titulo-cards{
        margin-top: 10px;
        text-align: center;
        font-weight: 500;
        color: white;
        background-color: hsla(211, 100%, 50%, 0.363);
        border-radius: 15px;
        margin-left: 20px;
        margin-right: 20px;
    }

    #sessao-produtos{
        display: flex;
        justify-content: center;

        #menu-categorias{
            position: sticky;
            top: 0;
            bottom: 50px;
            display:flex;
            flex-direction: column;
            background-color: white;
            align-items: center;
            margin-top: 10px;
            margin-left: 20px;
            

            #caixa-categorias {
                position: sticky;
                top: 80px;
                border: solid 1px rgb(211, 211, 211);
                border-radius: 10px;

                #caixa-nav {
                    flex-direction: column;

                    #categorias {
                        margin-bottom: -7px;
                    }
                }

               
            }
        
        }
        
        #corpo-produtos{
            display:flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .card{
                height: 650px;
                background-color: white;
                border-radius: 10px;
                margin-top: 10px;
                margin-right: 10px;
                margin-bottom: 10px;
                
                    .img-card{
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        width: 200px;
                        height: 200px;
                        object-fit: contain;
                        
                        
                    }

                    .card-buttoms{
                        width: 100%;                        

                        #botao-card{                            
                            margin-bottom: 10px;
                        }
                    }
                    
            }
        }
    }
}
