.titulo-carrinho{
    text-align: center;
    background-color: hsla(211, 100%, 50%, 0.363);
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;
    color:white;
}

.corpo-carrinho{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    overflow: visible;
    .produtos-carrinho{
        display: flex;
        flex-wrap: wrap;
        margin:30px;
        
        .nome-prod{
            font-size: 30px;
        }
        .img-prod{
            width: 200px;
            height: 200px;
            object-fit: contain;
        }
    }
    .corpo-informacoes{
        position: sticky;
        position: -webkit-sticky;
        top: 100px;
    }

}