.titulo-equipe{
    margin-top: 20px;
    text-align: center;
    background-color: hsla(211, 100%, 50%, 0.363);
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;
    color:white;
}

.descricao-projeto{
    h3{
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 20px;
    }
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    font-size: 20px;
    
}

#corpo-sobre{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 100px;
    .col-3{
        margin-bottom: 20px;
    }
}