.imagem-carrocel{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 200px;
    height: 200px;
    object-fit: contain;
}

#titulo-carrocel{
    background-color: hsla(211, 100%, 50%, 0.363);
    color: white;
    font-weight: 500;
    margin-bottom: 50px;
    border-radius: 15px;
}