#carrocel{
    height: 55vh;
}

#destaques-container{
    display: flex;
    justify-content: space-around;
    img{
        max-width: 200px;
    }
    
}

@media (max-width: 880px){
    #div-carrocel{
        display:none;
        #carrocel{
            
        }

    }
}

$carousel-indicator-height: 80hv;