#carrocel{
    height: 55vh;
}


#destaques-container{
    display: flex;
    justify-content: space-around;
    img{
        max-width: 200px;
    }
    
}

@media (max-width: 880px){
    #texto-carrocel{
        font-size: 10px;
        #titulo-carrocel{
            font-size: 10px;
        }
    }
}

@media(max-width:680px){
    
    #div-carrocel{
        display: none;
    }
    
}
